.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 20px;
  position: relative;
  z-index: 10;
}

.logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
}

.logo {
  text-decoration: none;
  font-weight: 800;
}

.home .logo {
  color: white;
}

.default .logo {
  color: #262626;
}

.logoHeart {
  color: #fff;
}
.home .logoHeart {
  color: white;
}

.default .logoHeart {
  color: #f6b83d;
}

.headerNav {
  display: none;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 12px;
}

.authActions {
  display: none;
} 

.userIcon {
  display: flex;
  width: 24px;
  height: 24px;
  color: #F6B83D;
}

.userLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF4DF;
  text-decoration: none;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menuIcon {
  color: #fff;
  font-size: 32px;
}
.default .menuIcon {
  color: #262626;
}

.logoutButton{
   border-radius: 30px;
   padding: 15px 35px;
   width: 136px;
   height: 50px;
   background-color: #f6b83d;
   color: #fff;
   border: none;
}


@media screen and (min-width: 768px) {

  .authActions {
    display: flex;
    gap: 8px;
  }
  .homeAuth {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 27px 64px;
  }

  .logo {
    font-size: 28px;
  }
  .homeAuth {
    display: flex;
  }

  .headerNav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .desktopActions {
    display: flex;
    gap: 8px;
  }


  .menuButton {
    display: none;
  }
}