.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding: 18px 20px 0;
}
.headerNav{
    display: none;
}

.desktopActions{
    display: none;
}

.logo{
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0em;
   color: #fff;
   display: flex;
   align-items: center;
}

.heart{
    color: #ffffff;
}

.userIcon{
    color: #fff;
    font-size: 40px;
    margin-right: 12px;
}

.menuButton{
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menuButton:hover {
  transform: scale(1.1);
}

.menuIcon{
    color: #fff;
    font-size: 40px;
    transition: transform 0.3s ease;
}
.menuButton:hover .menuIcon {
    transform: rotate(90deg);
}

.nav {
  display: none;
}



@media screen and (min-width: 1280px) {
  .menuButton {
    display: none;
  }
  .nav {
    display: flex;
  }
  .header {
    padding: 18px 64px 0;
  }

  .userIcon {
    display: none;
  }
  .title {
    flex: 1; 
    font-weight: 800; 
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #fff;
  }
  
  .desktopActions {
      display: flex;
      flex: 1; 
      justify-content: flex-end;
   }
  .headerNav {
       display: flex;
       justify-content: center;
       align-items: center;
       min-width: 0;
       max-width: 520px;
       padding: 0 20px;
       flex: 1;

   } 
}