.friendsSection{
  background: #f9f9f9;
  min-height: 100vh;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main {
  max-width: 1280px;
  margin: 0 auto;
}
.title {
  margin-bottom: 32px;
}