.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f6b83d;
    border-radius: 30px;
}
.header{
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.title{
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0em;
   color: #fff;
   display: flex;
   align-items: center;
}

.heart{
    color: #ffffff;
}

.userIcon{
    color: #fff;
    font-size: 40px;
    margin-right: 12px;
}

.menuButton{
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menuButton:hover {
  transform: scale(1.1);
}

.menuIcon{
    color: #fff;
    font-size: 40px;
    transition: transform 0.3s ease;
}
.menuButton:hover .menuIcon {
    transform: rotate(90deg);
}

.banner{
    display: block;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.bannerTitle{
    font-weight: 700;
    font-size: 50px;
    line-height: 96%;
    letter-spacing: -0.03em;
    color: #fff;
}
.word{
    color: rgba(255, 255, 255, 0.4);
}
.bannerSubtitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #fff;
}
.pictureWrapper{
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
}
.dogImage{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
    object-fit: cover;
}