.container{
    background: #f9f9f9;
    min-height: 100vh;
}
.authHeroContainer{
    display: none;
}

.signInPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.imageContainer {
    position: relative;
    width: 335px;
    height: 280px;
    background-color: #f6b83d;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
}

.shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 530px;
    height: 249px;
    z-index: 0;
}

.image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title{
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #262626;
    margin-top: 60px;
    margin-bottom: 12px;
}
.description{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #262626;
    margin-bottom: 24px;
}
.input{
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px; 
    padding-left: 12px;
    width: 295px;
    height: 42px;
    outline: none;
}
.loginButton{
    border-radius: 30px;
    width: 295px;
    height: 42px;
    background: #f6b83d;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 12px;
}
.registerLink{
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;  
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);
    margin: 0 auto;
}
.span{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #f6b83d;
}
.form{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 30px;
    width: 335px;
    height: 422px;
    background-color: #fff;
    padding: 12px;
    box-sizing: border-box
}
.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .authHeroContainer {
    display: block;
  }
  .shape{
    height: 100%;
  }

  .imageContainer {
    width: 704px;
    height: 302px;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
  }

  .image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 364px;
    height: 302px;
    
  }

  .form{
    width: 704px;
    height: 560px;
  }
  .title{   
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .description{
    font-size: 18px;
    line-height: 122%;
    margin-bottom: 32px;
  }
  .input{
    width: 424px;
    height: 52px;
  }
  .loginButton{
    width: 424px;
    height: 52px;
    margin-bottom: 16px;
  }
  .registerLink{
    font-size: 14px;
    line-height: 143%;
  }
  .form{
    box-sizing: border-box;
    padding: 71px 140px 71px 140px;
  }
  .inputContainer{
    gap: 16px;
    margin-bottom: 64px;
  }
  .imageContainer{
    margin-bottom: 16px;
  }

}
@media screen and (min-width: 1280px) {
    .signInPage {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-top: 5px;
      }

    .imageContainer,
    .form {
        flex: 0 0 592px;
        width: 592px;
        height: 654px;
        box-sizing: border-box;
        padding: 84px;
        display: flex;
        justify-content: center;        
    }
    .image {
        width: 512px;
        height: 100%;
        object-fit: contain;
        object-position: bottom center;
        
  }
}