.menuButton {
  width: 119px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: #f6b83d;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButton:hover {
  opacity: 0.8;
}

.menuButton.active {
  background-color: #f6b83d;
  color: #fff;
}
.homeButton {
  background-color: #f6b83d;
  color: #fff;
  border-color: #f6b83d;
}



@media screen and (min-width: 1280px) {
  .navMenu {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .menuButton {
    font-size: 16px;
    line-height: 125%;
  }
}