.card{
    border-radius: 15px;
    width: 371px;
    height: 196px; 
    background: #fff;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 20px;
    position: relative;
}
.info{
    gap:8px;
    height: 100%;
    text-decoration: none;
    flex: 1;
    min-width: 0;
}
.label{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}
.info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.adress{
    white-space: nowrap;
    overflow: hidden;      
    text-overflow: ellipsis;
}
.badge {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px 14px;
    border-radius: 30px;
    background: #fff4df;
    color: #f6b83d;
    font-size: 12px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .card {
        width: 342px;  
    }
}

@media screen and (min-width: 1280px) {
    .card {
        width: calc((100% - 40px) / 3); }
    }